<html ng-app="serverapp">
<head>
	<title>
		morepeople - v0.2.01
	</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

</head>
	<body ng-controller="StatusConroller">
	<div class="container"> 
		<tabset>
		   	<tab heading="Mock Users">
		   		<div class="row">
		   			<div class="col-md-12">

						<h1>Mock users</h1>
			   			<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th class="col-sm-2">USER_ID</th>
									<th class="col-sm-2">USER_NAME</th>
									<th class="col-sm-1">LONGITUDE</th>
									<th class="col-sm-1">LATITUDE</th>
									<th class="col-sm-1">MATCH_TAG</th>
									<th class="col-sm-5">FUNCTIONS</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="mockUser in mockUsers">
									<td><input class="form-control" type="text" ng-model="mockUser.USER_ID"></input></td>
									<td><input class="form-control" type="text" ng-model="mockUser.USER_NAME"></input></td>
									<td><input class="form-control" type="text" ng-model="mockUser.LOC.LONGITUDE"></input></td>
									<td><input class="form-control" type="text" ng-model="mockUser.LOC.LATITUDE"></input></td>
									<td><input class="form-control" type="text" ng-model="mockUser.MATCH_TAG"></input></td>
									<td>
										<button class="btn btn-primary" ng-click="queue(mockUser);">queue</button>
										<button class="btn btn-danger" ng-click="cancel(mockUser);">cancel</button>
										<button class="btn btn-success" ng-click="accept(mockUser);">accept</button>
										<button class="btn btn-default" ng-click="chat(mockUser);">chat</button>
										<button class="btn btn-info" ng-click="finish(mockUser);">finish</button>
										<button class="btn btn-warning" ng-click="evaluate(mockUser);">evaluate</button>
									</td>
								</tr>
							</tobdy>
						</table>
					</div>
		   		</div>
		   	</tab>			
		    <tab heading="Users">
		    	<div class="row">
					<div class="col-md-12">
						<h1>Known users</h1>

						<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>
									USER_ID
								</th>
								<th>
									USER_NAME
								</th>
								<th>
									LONGITUDE
								</th>
								<th>
									LATITUDE
								</th>
								<th>
									STATE
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in data.users">
								<td> {{user.USER_ID}} </td>
								<td> {{user.USER_NAME}} </td>
								<td> {{user.LOC.LONGITUDE}} </td>
								<td> {{user.LOC.LATITUDE}} </td>
								<td> {{user.STATE}} </td>
							</tr>
						</tobdy>
						</table>
					</div>
				</div>
		    </tab>
		    <tab heading="Tags">
		    	<div class="row">
					<div class="col-md-12">
						<h1>Known tags</h1>
						<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>
									MATCH_TAG
								</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="tag in data.tags">
								<td> {{tag.MATCH_TAG}} </td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
		    </tab>

		    <tab heading="Queue">
		    	<div class="row">
					<div class="col-md-12">
						<h1>Queue</h1>
						<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>USER_ID</th>
								<th>MATCH_TAG</th>
								<th>TIME_LEFT</th>
								<th>LONGITUDE</th>
								<th>LATITUDE</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="qu in data.queue">
								<td> {{qu.USER_ID}} </td>
								<td> {{qu.MATCH_TAG}} </td>
								<td> {{qu.TIME_LEFT}} </td>
								<td> {{qu.LOC.LONGITUDE}} </td>
								<td> {{qu.LOC.LATITUDE}} </td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</tab>

		    <tab heading="Lobbies">
				<div class="col-md-12">
					<h1>Lobby</h1>
						<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>USER_ID</th>
								<th>MATCH_TAG</th>
								<th>MATCH_ID</th>
								<th>STATE</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="lobby in data.lobbies">
								<td> {{lobby.USER_ID}} </td>
								<td> {{lobby.MATCH_TAG}} </td>
								<td> {{lobby.MATCH_ID}} </td>
								<td> {{lobby.STATE}} </td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>

		    <tab heading="Running">
				<div class="col-md-12">
					<h1>Runnning</h1>
						<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>USER_ID</th>
								<th>MATCH_TAG</th>
								<th>MATCH_ID</th>
								<th>STATE</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="match in data.matches">
								<td> {{match.USER_ID}} </td>
								<td> {{match.MATCH_TAG}} </td>
								<td> {{match.MATCH_ID}} </td>
								<td> {{match.STATE}} </td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>

		    <tab heading="Evaluations">
				<div class="col-md-12">
					<h1>Evaluations</h1>
					<div ng-repeat="evaluation in data.evaluations">Tag: {{evaluation.MATCH_TAG}}</div>
				</div>
		    </tab>

		 </tabset>
	</div> 

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>
	<script src="/app.js"></script>
</body>
</html>