<html ng-app="morepeopleFrontend">
<head>
	<title>
		morepeople
	</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<style>
	.carousel-indicators {
		margin-bottom:100px;
	}
	.carousel-indicators li
		{
		  border-color:#000;
		  border-width:2px;
		  width:10px;
		  height:10px;
		}
	.carousel-indicators li.active
		{
		  width:15px;
		  height:15px;
		  background-color:red;
		}
	</style>
</head>
	<body ng-controller="mainCtrl">

	<div class="container" > 
		<div class="page-header">
			<h1>morepeople <small>android</small></h1>
		</div>
		<div class="row">	
			<blockquote>
				<p class="lead">
					Du hast etwas vor, aber brauchst mehr Leute? Oder möchtest Du dich lieber jemandem anschließen?<br>
					Wie wäre es vielleicht hiermit:<br>
				</p>
			</blockquote>
			<p>
	   			<table class="table table-hover table-striped">
					<tbody>
						<tr ng-repeat="user in users | limitTo:5">
							<td>
								<div class="clearfix">
									<div class="pull-left">
										{{ user.MATCH_TAG }}
									</div>
									<div class="pull-right">
										{{ user.DISTANCE | number:2 }}km
									</div>
								</div>
								<div class="clearfix">
									<div class="pull-right">
										<small><b>{{ user.USER_NAME }}</small>
									</div>
								</div>
							</td>
						</tr>
					</tobdy>
				</table>
			</p>
			<blockquote>
			<p class="lead">
				Jetzt <a href="http://109.230.231.200/apk/app-debug-unaligned.apk">morepeople herunterladen</a> und mitmachen!<br>
				Um Test-User zu erstellen und zu verwalten geht es <a href="/backend">hier zum Test-Backend</a>.
			</p>
			</blockquote>

			<p class="text-justify">
				Dies ist der zweite Prototyp der Android App <em>morepeople</em>. Er wurde an der <a href="http://www.hdm-stuttgart.de/">Hochschule der Medien Stuttgart</a> im Rahmen des Fachs <a href="https://www.mi.hdm-stuttgart.de/csm/studium/gliederung/Lehrveranstaltungen/vorlesung_detail?vorlesung_ID=5211653">Mobile Applications</a> von einer Hand voll <abbr title="Computer Science and Media" class="initialism">CSM</abbr>-Studenten entwickelt. Ziel der App ist es, Leute mit ähnlichen Interessen spontan zusammen zu bringen. Dabei liegt das Hauptaugenmerk auf Schlichtheit und einer unkomplizierten Bedienung. Daher ist es für die Benutzung der App kein lästiger Registrierungs-Prozess notwendig. Einfach die App installieren und loslegen!
			</p>
			<hr/>

			<div class="bg-primary">
				<carousel interval="5000">
			      <slide ng-repeat="slide in slides" active="slide.active">
			        <img ng-src="{{slide.image}}" style="margin:auto;">
			      </slide>
			    </carousel>
			</div>
		</div>

		<div class="row">
			<div class="page-header">
				<h1>dokumentation <small>morepeople version 1</small></h1>
			</div>
			<blockquote class="bg-info">
				Es folgt die Dokumentation der <b>ersten Version</b> des Prototyps. Oben angepriesen ist bereits die weiterentwickelte zweite Version.
			</blockquote>
			<p class="text-justify">
				Ein von Faulheit geprägtes Studentenleben kann einem spätestens dann zum Verhängnis werden, wenn man alleine zuhause sitzt und nach einer Beschäftigung mit seinen Freunden sucht, diese aber anderweitig verplant sind. Neue Leute kennen lernen, mit denen man spontan etwas unternehmen könnte, wäre für dieses Problem eine Option, doch kaum einer traut sich allein auf eine Party oder redet wildfremde Leute in einer Kneipe an. Um einem perspektivlosen Abend vor dem Fernseher entgegenzuwirken, soll die Smartphone App <em>morepeople</em> Abhilfe schaffen. Mit einem einzigen Klick kann man in der Nähe befindliche Aktivitäten von anderen Studenten durchsuchen oder selbst eine Aktivität erstellen, der beigetreten werden kann. 
			</p>
			<p class="text-justify">
				Die Idee von <em>morepeople</em> ist es, dem User die Planung und das Treffen einer Interessengruppe zu erleichtern. Die App soll vor allem schüchterne Menschen dazu animieren, neue Leute kennenzulernen und gemeinsame Aktivitäten spontan zu starten oder mitzumachen. Das Erstellen oder Beitreten einer Aktivität soll intuitiv und ohne ausführliche Anleitung zu bewerkstelligen sein, zu dem wird ein Userprofil automatisch anhand der Device-ID erstellt und ein aufwändiger Registrierungsschritt damit überflüssig.
				Die erste Version stellt vier verschiedene Aktivitäten zur Verfügung, zwischen denen der User wählen kann: Pizza essen, Kochen, Bier trinken oder Kaffee trinken.
				Die Gruppengröße wurde auf drei Personen festgelegt, zum Einen, um eine Dating-App zu verhindern, zum Anderen, um schnell eine Aktivität starten zu können. Nach dem Zustandekommen einer Gruppe wird ein Treffpunkt in der Nähe aller Gruppenmitglieder automatisch generiert und eine Zeit festgelegt. Per Chat können daraufhin weitere Absprachen getroffen werden. 
			</p>
			<h2>Konzipierung</h2>
			<h3>Konkurenzanalyse</h3>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4>Spontacts</h4>
				<p class="text-justify">
					Spontacts ist eine App für Android und iPhone mit zugehöriger Webplattform. Jeder, der etwas unternehmen will kann sich registrieren und eine Aktivität anlegen. Interessierte können diese Aktivität dann beobachten, kommentieren oder ihr Kommen ankündigen. Der Registrierungsprozess und das Anlegen/Suchen einer Aktivität erwies sich nach einem Testversuch jedoch mehr als umständlich und man wurde von unsortierten Informationen teilweise überladen.
				</p>
				<img src="/img/spontacts.png" class="img-rounded img-responsive">
			</div>
			<div class="col-md-6">
				<h4>Voxle</h4>
				<p class="text-justify">
					Voxle spezialisiert sich auf Dating und bietet das Feature „Scan“ an, mit dem man nach Leuten in seinem Umkreis suchen kann, die Voxle ebenfalls verwenden. Eine Registrierung ist auch hier notwendig, mindestens eine Anmeldung über Facebook oder Google. Beim Testen der App erwies sich die Teilnehmerzahl als äußerst gering und die Menüführung als teilweise sehr unverständlich und unintuitiv.
				</p>
				<img src="/img/voxle.png" class="img-rounded img-responsive">
			</div>
		</div>
		<hr/>
		<div class="row">
			<h3>Zielgruppenanalyse</h3>
			<p>
				Mit „MorePeople“ sollen zunächst gezielt Studenten angesprochen werden, die in einem Wohnheim in Vaihingen wohnen und z.B.
				<ul>
					<li>... neu hergezogen sind.</li>
					<li>... sich noch nicht in der Umgebung auskennen.</li>
					<li>... ihren Freundeskreis erweitern möchten.</li>
					<li>... nur für ein Auslandssemester/Praxissemester hier sind.</li>
					<li>... Leute zum Ausgehen, Sport treiben, Einkaufen, Bier Trinken…  suchen.</li>
					<li>... die Gegend und deren Bewohner erkunden möchten.</li>
					<li>Sollte die App Beachtung finden, ist es problemlos möglich das Zielgebiet sowie die Zielgruppe zu erweitern. </li>
			</p>
		</div>
		<hr/>
		<div class="row">
			<h3>Personas</h3>
			<div class="col-md-6">
				<table class="table table-hover table-striped">
					<tr>
						<td>Name</td>
						<td>Jörg Schmied</td>
					</tr>
					<tr>
						<td>Alter</td>
						<td>24 Jahre</td>
					</tr>
					<tr>
						<td>Beruf</td>
						<td>Bachelor-Student Umwelttechnik Uni Stuttgart, 3. Semester</td>
					</tr>
					<tr>
						<td>Wohnort</td>
						<td>Wohnheim Allmandring 1</td>
					</tr>
					<tr>
						<td>Motto</td>
						<td>Lebe dein Leben!</td>
					</tr>
					<tr>
						<td>Beschreibung</td>
						<td>Seine Hobbys sind Skateboarden, Schwimmen und Musik machen. Vor einem Monat ist er ins Wohnheim Allmandring | gezogen. Allerdings kennt er dort noch niemanden und hatte schon immer Schwierigkeiten auf fremde Menschen zuzugehen. Er ist auf der Suche nach neuen Bekanntschaften, mit denen er seine Hobbys teilen und auch öfters mal ausgehen kann.</td>
					</tr>
				<tbody>
				</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<table class="table table-hover table-striped">
					<tr>
						<td>Name</td>
						<td>Andrea Maier</td>
					</tr>
					<tr>
						<td>Alter</td>
						<td>26 Jahre</td>
					</tr>
					<tr>
						<td>Beruf</td>
						<td>Bachelor-Studentin Mobile Medien Hochschule der Medien, Praxissemester</td>
					</tr>
					<tr>
						<td>Wohnort</td>
						<td>Wohnheim Straßäcker 1</td>
					</tr>
					<tr>
						<td>Motto</td>
						<td>Spontan ist immer am besten!</td>
					</tr>
					<tr>
						<td>Beschreibung</td>
						<td>Andrea ist sehr zufrieden mit ihrem Studium und fühlt sich auf dem Campus gut aufgehoben. Sie muss unter der Woche und am Wochenende öfters arbeiten und kann schlecht Termine oder Partys schon im Voraus planen.
In ihrer beschränkten Freizeit würde sie gerne mehr mit Kommilitonen oder Mitbewohner unternehmen. Die, die sie kennt, sind jedoch meistens schon verplant, wenn sie spontan noch etwas unternehmen möchte.</td>
					</tr>
				<tbody>
				</tbody>
				</table>
			</div>
		</div>
		<hr/>

	<div class="row">
			<div class="col-md-12">
			<h3>Szenario</h3>
			<p class="text-justify">
Es ist 19:30 Uhr und Jörg ist daheim in seinem kleinen Zimmer im Wohnheim. Er überlegt, was er mit dem angebrochenen Abend noch anstellen soll. Irgendwie hätte er noch Lust auf ein Feierabendbier, also startet er die App „MorePeople“ und trägt in das Suchfeld “Bier trinken” ein.</p>
<p class="text-justify">
20 Minuten später erscheint eine Pop-up-Nachricht auf seinem Handy, welche anzeigt, dass Andrea und Corinna ebenfalls Lust auf Bier trinken hätten. Das System schlägt die Zeit 20:30 Uhr und den Ort „Bierautomat am Wohnheim“ vor. Jörg ist bereit und drückt auf “Verbindlich zusagen”. Corinna und Andrea haben zu dem Match ebenfalls zugesagt und der “Treffen findet statt”-Screen erscheint. Die drei Treffen sich wie vereinbart um 20:30 Uhr am Bierautomaten im Wohnheim und führten interessante Gespräche. Das Treffen verlief für alle erfolgreich, weshalb alle bei der Abschlussbewertung “Alles cool” angeben.
			</p>
		</div>
		</div>
	<hr/>

	<div class="row">
		<div class="col-md-12">
		<h3>Struktur und aufbau</h3>
		<p class="text-justify">
			<em>morepeople</em> zeichnet sich vor allem durch eine einfache und intuitive Benutzerführung aus. Ohne große Erklärung und Eingewöhnung soll sofort klar sein, was auf dem jeweiligen Screen zu tun ist. 
		</p>

		<h4>Wireframes und die Implementierung im ersten Prototyp</h4>
		<div class="bg-success">
			<carousel interval="5000">
		      <slide ng-repeat="slide in wireframes" active="slide.active">
		      	<div class="clearfix text-center" style="margin:auto;">
			        <img ng-src="{{slide.image}}" style="height:510px;">
			        <img ng-src="{{slide.image2}}" style="margin-left:10px;height:510px;">
			    </div>
		        <div class="bg-primary" style="padding:10px; margin-top:5px;"><h4>{{slide.text}}</h4></div>
		      </slide>			      
		    </carousel>
		</div>

		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-md-12">
			<h3>Geschäftsmodell</h3>
			<p>
				Monetarisiert werden kann die App durch die vorgeschlagenen Locations. Für den eigentlichen Nutzer bleibt die Applikation völlig kostenlos. Werbetreibende können die App nutzen, um Menschen zu ihrer Location zu führen. Treffpunkte könnten z.B. vor einer Kneipe/Restaurant oder dem Eingang eines Supermarkts/Geschäfts sein.
Die Location-Vorschläge können gekauft werden, ähnlich wie das bei Werbeanzeigen der Fall ist. Im Backend gibt es die Möglichkeit z.B. via PayPal 100 Besuche zu kaufen. Nun wird die Location für die nächsten 100 Aktivitäten, die in einem Umkreis von x Kilometern stattfinden, als Treffpunkt vorgeschlagen.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h2>Gamification</h2>
			<div class="col-md-6">
				<h3>Backend-User</h3>
				<p>
					Damit das Geschäftsmodell funktioniert, müssen Werbetreibende das Backend der App nutzen. Die Gamificationkonzepte richten sich somit an den werbetreibenden, zahlenden Backenduser und nicht an den Endanwender.
<h4>Pionier-Bonus</h4>
Um in bislang unerschlossene Regionen zu erschließen, gibt es einen Pionier-Bonus. Das bedeutet, dass der erste Werbetreibende, der in einer Region einen Treffpunkt schaltet, einen immensen Rabatt oder gar kostenlose Location-Werbung erhält. z.B. für den ersten sind die ersten 100 Matches kostenlos, für den zweiten die ersten 50, den dritten sind es noch 25 kostenlose Matches.
<h4>Leadership-Bonus</h4>
Der am stärkste Werbetreibende in einer Region erhält einen zusätzlichen Rabatt.
<h4>Lonewolf-Bonus</h4>
Ist man der einzige Werbetreibende in einer Region, erhält man einen zusätzlichen Bonus.
				</p>
			</div>
			<div class="col-md-6">
				<h3>App-User</h3>
				<p>
Der Wert der App hängt von der Anzahl der App-User ab. App-User können weiter untergliedert werden:
<ul>
	<li>Passive “me too” User, welche dazu tendieren, bestehenden Suchen beizutreten.</li>
<li>Aktive Multiplikatoren, welche dazu tendieren, eigene Suchen zu erstellen.</li>
</ul>
Beide Arten von Usern sind wichtig, um die App zu verbreiten. Vermutlich bilden die passiven User die Mehrheit, weshalb aktiven Multiplikatoren besonders wertvoll sind. Es sollte also belohnt werden, wenn jemand ausdauernd Suchen einträgt, insbesondere solche, welche tatsächlich Publikum anziehen. Ideen hierzu: Buffs.
Wenn jemand X zustande kommende Treffen organisiert, dann bekommt er für N Tage eine “Bier-Aura”, das heißt, er und seine Begleitungen bekommen 10% Rabatt. 
				</p>
			</div>
		</div>
	</div>
</div> 
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>
	<script src="//rawgithub.com/arunisrael/angularjs-geolocation/master/dist/angularjs-geolocation.min.js"></script>
	<script src="/frontend.js"></script>
</body>
</html>
