<html>
<head>
	<title>
		2morepeople
	</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

</head>
	<body>
	<div class="row">
		<div class="span2">
		<h1>Known users:</h1>
			{% for user in users %}
				<div>User: {{user.USER_ID}} {{user.LONGITUDE}} {{user.LATITUDE}} {{user.USER_NAME}}</div>
			{% endfor %}
		</div>

		<div class="span2">
			<h1>Known tags:</h1>
			{% for tag in tags %}
				<div>Tag: {{tag.MATCH_TAG}}</div>
			{% endfor %}
		</div>

		<div class="span2">
			<h1>Queue:</h1>
			{% for qu in queue %}
				<div>ID: {{qu.USER_ID}} Tag: {{tag.MATCH_TAG}}</div>
			{% endfor %}
		</div>

		<div class="span2">
			<h1>Lobby:</h1>
			{% for lobby in lobbies %}
				<div>Tag: {{tag.MATCH_TAG}}</div>
			{% endfor %}
		</div>

		<div class="span2">
			<h1>Runnning:</h1>
			{% for match in running_matches %}
				<div>Tag: {{tag.MATCH_TAG}}</div>
			{% endfor %}
		</div>

		<div class="span2">
			<h1>Evaluations:</h1>
			{% for evaluation in evaluations %}
				<div>Tag: {{tag.MATCH_TAG}}</div>
			{% endfor %}
		</div>

	</div> 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>